[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST={{ lookup('amazon.aws.aws_ssm', 'cart.{{ env }}.REDIS_HOST', region='us-east-1') }}
Environment=CATALOGUE_HOST=catalogue-dev.rdevops74.online
Environment=CATALOGUE_PORT=80
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target